<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--布局容器开始-->
    <el-container>
        <!--头部标签开始-->
        <el-header style="background-color: #0096dc;">
            <h1 style="font-size: 22px;color: white">
                学子商城后台管理系统
            </h1>
        </el-header>
        <!--头部标签结束-->

        <el-container>
            <!--侧边栏开始-->
            <el-aside width="200px" style="overflow: hidden">
                <el-menu @select="handleSelect" :default-active="currentIndex">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-s-flag"></i>
                            <span>分类管理</span>
                        </template>
                        <el-menu-item index="1-1">分类列表</el-menu-item>
                        <el-menu-item index="1-2">添加分类</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-shopping-cart-1"></i>
                            <span>商品管理</span>
                        </template>
                        <el-menu-item index="2-1">商品列表</el-menu-item>
                        <el-menu-item index="2-2">添加商品</el-menu-item>
                    </el-submenu>

                </el-menu>
            </el-aside>
            <!--侧边栏结束-->

            <!--主体标签开始-->
            <el-main>
                <!--分类表格开始-->
                <el-table :data="categoryArr" v-if="currentIndex=='1-1'">
                    <el-table-column type="index" label="编号" width="200"></el-table-column>
                    <el-table-column prop="name" label="分类名称" width="200"></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" type="success" @click="categoryUpdate(scope.row)">
                                修改
                            </el-button>
                            <el-popconfirm @confirm="categoryDelete(scope.$index,scope.row)" title="您确认删除此分类吗？">
                                <el-button slot="reference" size="mini" type="danger">
                                    删除
                                </el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <!--分类表格结束-->

                <!--商品表格开始-->
                <el-table :data="productArr" v-if="currentIndex=='2-1'">
                    <el-table-column type="index" label="编号" width="100"></el-table-column>
                    <el-table-column prop="title" label="商品标题"></el-table-column>
                    <el-table-column prop="price" label="商品价格"></el-table-column>
                    <el-table-column prop="oldPrice" label="商品原价"></el-table-column>
                    <el-table-column prop="saleCount" label="商品销量"></el-table-column>
                    <el-table-column prop="num" label="商品库存"></el-table-column>
                    <el-table-column prop="categoryName" label="分类名称"></el-table-column>
                    <el-table-column label="商品图片" width="80">
                        <!--自定义列，显示商品图片,必须要添加template-->
                        <template slot-scope="scope">
                            <!--scope.row代表当前当对应的数据里面的对象-->
                            <img :src="scope.row.url" width="100%">
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <temlpate slot-scope="scope">
                            <el-button size="mini" type="success" @click="productUpdate(scope.row)">
                                修改
                            </el-button>
                            <el-popconfirm @confirm="productDelete(scope.$index,scope.row)" title="您确认删除此商品吗？">
                                <el-button size="mini" type="danger" slot="reference">
                                    删除
                                </el-button>
                            </el-popconfirm>
                        </temlpate>
                    </el-table-column>

                </el-table>
                <!--商品表格结束-->

            </el-main>
            <!--主体标签结束-->

        </el-container>
    </el-container>
    <!--布局容器结束-->
</div>

<link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">

<script src="js/axios.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/index.min.js"></script>
<script>
    var v = new Vue({
        el: "#app",
        data: {
            currentIndex: "1-1",
            categoryArr:[],
            productArr:[]
        },
        methods: {
            handleSelect(key, keyPath){
                if (key == "1-2"){
                    let name = prompt("请输入新的分类名称！");
                    // 如果用户点击了取消 name=null
                    if (name == null){
                        v.$message.warning("取消操作！")
                        return;
                    }

                    if (name.trim() == ""){
                        v.$message.error("分类名称不能为空！")
                        return
                    }

                    v.$message.success("添加分类成功！")
                    axios.get("/category/insert?name=" + name).then(result => {
                        // 添加完新的分类后如果刷新页面（负担太重，会请求更多的数据），
                        // 可以通过服务器想要所有分类数组的方式，解决此问题
                        v.categoryArr = result.data;
                    })
                }
                else if (key == "2-2"){
                    location.href = "insertProduct.html";
                }else {
                    v.currentIndex = key;
                }
            },
            categoryUpdate(c){
                let name = prompt("请输入新的分类名称！");
                // 如果用户点击了取消 name=null
                if (name == null){
                    v.$message.warning("取消操作！")
                    return;
                }

                if (name.trim() == ""){
                    v.$message.error("分类名称不能为空！")
                    return
                }

                // 准备一个对象封装分类的数据
                let c1 = { id: c.id,name: name};
                axios.post("/category/update",c1).then(result => {
                    // 修改页面
                    c.name = name;
                })

                v.$message.success("添加分类成功！")
            },
            categoryDelete(i ,c){
                axios.get("/category/deleteById?id=" + c.id).then(result =>{
                    // 删除数组里面的数据
                    v.categoryArr.splice(i, 1);
                    v.$message.success("删除了分类：" + c.name);
                })
            }
        },
        created(){
            // 获取所有商品数据
            axios.get("/product/select").then(result => {
                v.productArr = result.data;
            })

            // 获取分类数据
            axios.get("/category/select").then(result => {
                v.categoryArr = result.data;
            })
        }
    })
</script>

</body>
</html>